

                  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="regform">
  <tbody class="part">
      

    <tr>
      <th>Dates</th>
      <th>Locations</th>
      <th>Details</th>
      <th>Attend</th>
    </tr>
         @* @foreach (var item in Model.SessionLookupList)*@
              @for (int i = 0; i <= Model.SessionLookupList.Count - 1; i++)
              {
                  
                  if (i == 0)
                  { 
                      <tr class="guest-day">
                      <td>@Model.SessionLookupList[i].EVENT_MONTH, @Model.SessionLookupList[i].SESSION_DATE.Day,@Model.SessionLookupList[i].EVENT_YEAR</td>
                      <td>@Model.SessionLookupList[i].EVENT_LOCATION</td>
                      <td>@Model.SessionLookupList[i].EVENT_SESSION</td>
                       
                      <td><input type="checkbox" id="@("checkAll"+@i)"  onclick="@("CheckAll("+(i)+")")"></td>
                          
                    </tr>
                    Session["j"] = i;
               
                  }
                  else
                  //else if (i < Model.SessionLookupList.Count - 1)
                  {
                      if (Model.SessionLookupList[i].SESSION_DATE != Model.SessionLookupList[i - 1].SESSION_DATE || Model.SessionLookupList[i].EVENT_SESSION != Model.SessionLookupList[i-1].EVENT_SESSION)
                      {
                                <tr class="guest-day">
                      <td>@Model.SessionLookupList[i].EVENT_MONTH, @Model.SessionLookupList[i].SESSION_DATE.Day,@Model.SessionLookupList[i].EVENT_YEAR</td>
                      <td>@Model.SessionLookupList[i].EVENT_LOCATION</td>
                      <td>@Model.SessionLookupList[i].EVENT_SESSION</td>
                      <td><input type="checkbox" id="@("checkAll"+@i)"  onclick="@("CheckAll("+(i)+")")"></td>
                    </tr>
                     Session["j"] = i;
                      }
                  }  
            
               <tr class="guest-event">
      <td colspan="3">@Model.SessionLookupList[i].SESSION_DESC</td>
      <td> 
          @if (Model.SessionLookupList[i].REGISTERED_SESSION == Model.SessionLookupList[i].SESSION_ID)
          {
             <input type="checkbox" class="@("checkBox"+Session["j"])"  name="@Model.SessionLookupList[i].SESSION_ID" value="@Model.SessionLookupList[i].SESSION_ID" onclick="@("UncheckHeader("+Session["j"]+")")" checked> 
          }
          else
          {
            <input type="checkbox" class="@("checkBox"+Session["j"])"  name="@Model.SessionLookupList[i].SESSION_ID" value="@Model.SessionLookupList[i].SESSION_ID" onclick="@("UncheckHeader("+Session["j"]+")")">
          }
         @* <input type="hidden" name="@Model.SessionLookupList[i].EVENT_ID" value="@Model.SessionLookupList[i].EVENT_ID" />*@
         

      </td>
                   
    </tr>    
                
              }
       



     
  </tbody>
 
</table>
 <p class="text-right"><input type="button" value="Register &#8250;" class="button register-button" onclick="javascript: isChecked();" ></p>
