<!DOCTYPE html>
  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Lincoln Brand Champion</title>
        @Styles.Render("~/bundles/stylesheets")
    @Scripts.Render("~/bundles/jquery")
    
    @Scripts.Render("~/bundles/jqueryval")

    
    @Scripts.Render("~/bundles/foundation")
    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/app")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="@ViewBag.homeid">
    <div class="row">
        <div id="header" class="twelve columns">
            <h1><a href="~/LBC/Welcome" target="_parent">
                <img src="~/Images/lincoln-brand-champion.png" alt="" /></a></h1>
            <div class="login">HELLO, <span>@Session["w_user"].ToString().ToUpper()</span><div class="log"><a href="~/LBC/logout">Logout</a></div></div>
        </div>
    </div>

        @RenderBody()

    <div id="footer">
        <div class="row">
            <div class="twelve columns">
                <p class="right">
                    <img src="~/Images/lincoln-symbol.png" alt="" />
                </p>
                <ul class="inline-list">
                    <li><a href="~/Resources/Index">Resources</a></li>
                    <li>|</li>
                    <li><a href="~/Content/pdf/LN_Brand_Champ_FAQ.pdf" target="_blank">FAQs</a></li>
                    <li>|</li>
                    <li><a href="~/Contact/Index">Contacts</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div id="copy-foot">
        <div class="row">
            <div class="twelve columns">
                <ul class="inline-list right">
                    <li><a href="#">Terms and Conditions</a></li>
                    <li>|</li>
                    <li><a href="~/Content/pdf/LN_Brand_Champ_Privacy.pdf" target="_blank">Privacy Policy</a></li>
                </ul>
                <p>&copy; 2015 Ford Motor Company</p>
            </div>

        </div>
    </div>
    <script>
        $(window).load(function () {
            $("#featured").orbit();
        });

        function OpenDialog() {
            $("#ComingSoon").reveal({
                closeOnBackgroundClick: true

            });
        }


    </script>


    <div id="ComingSoon" class="reveal-modal medium">
        <a href="#" class="close-reveal-modal">[ X ]</a>
        <h2>LINCOLN BRAND CHAMPION DASHBOARD ACCESS</h2>
        <div class="row">
            <div class="ten columns centered text-center">
                <p>Coming Soon!</p>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-32458118-21', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
